
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
header {
    background-color: #222;
    padding: 10px 0;
}

h1, h2 {
    color: #fff;
}

/* Barra de navegación */
nav {
    background-color: #444;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

/* Productos */
#product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#product-list li {
    background-color: #111;
    border: 1px solid #333;
    margin: 10px;
    padding: 20px;
 width: 400px;
}

#product-list h2 {
    color: #fff;
    margin-top: 0;
}
/* Estilo para imágenes en la lista de productos */
#product-list img {
    width: 350px;
    height: 250px; 
    object-fit: cover; 
}


.add-to-cart {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Carrito de compras */
#carrito {
    background-color: #222;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    
}

#carrito h2 {
    font-size: 24px;
}

#carrito-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#carrito-list li img {
    width: 300px;

    
}
#carrito-list li button{
    width: 300px    ;
}
#carrito-list li {
   
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
    flex-direction: column;
    align-items: center;
}
.comprasClass {
    display: inline-block;
    background-color: #3498db;
    color: #fff; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.comprasClass:hover {
    background-color: #2684c9; 
}

.div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.div i{
    font-size: 30px;
}
.div i:hover{
   font-size: 35px;
   
}
.div a:hover{
    color: #2e65fb;font-size: 20px;
}
.tiendaClass {
    display: inline-block;
    background-color: #27ae60; 
    color: #fff; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px;
    transition: background-color 0.3s; 
}

.tiendaClass:hover {
    background-color: #219d53; 
}

#carrito-list li:last-child {
    border: none;
}

#suma-carrito {
    font-size: 18px;
    margin-top: 10px;
}

#boton-comprar {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

/* Enlaces */
a {
    color: #3498db;
    text-decoration: none;
}

/* Enlace de detalles */
.lupa {
    color: #f1c40f;
    text-decoration: none;
}


.add-to-cart:hover {
    background-color: #333;
}
footer{
    justify-content: space-between;
    display:flex;
    text-align: center;
    background-color:black
  }
  .izquierda{
    font-size:small;
    color:#f1c40f
    }
  .izquierda a{
    color: #eff5f5;
    text-decoration: none;

  }
  .derechos{
    color: #eff5f5;
  }
  .centro {
    justify-content: space-between;
    display: flex;
    color: #eff5f5;
    text-align: center;
    padding-top: 3%;
  }
  .centro:hover{
    color: #181823;
  }
  .derecha{
    justify-content: space-between;
    color: #eff5f5;
     }